@CHARSET "UTF-8";

body {
	font-family: sans serif;
	margin: 30px;
}
h1 {
	font-size: 24px;
	font-weight: bold;
	color: #333333;
}
#header {
	padding-top: 30px;
}
table {
	caption-side: top;
	table-layout: auto;
	width: 100%;
	border: 1px solid #333333;
}
tr {
	border: 1px solid #333333;
}
th {
	font-size: 14px;
	text-align: left;
	padding: 4px;
	color: #858484;
	background-color: #dfdfdf;
}
td {
	border: 1px solid #dfdfdf;
	font-size: 12px;
	padding: 4px;
}
div > a > img {
	float: right;
	margin-top: -30px;
}
#header {
	z-index: 1;
	position: relative;
}
code {
	font-weight: bold;
}